*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;
    height: 18vh;
    background-color: #000d1e;
    justify-content: center;
    align-items: center;
    color: #fbf1e5;
}
.title{
    font-size: 23px;
    font-family: 'Yuji Boku', serif;
}
.subtitle{
    font-size: 10px;
    font-family: 'Klee One', cursive;
}
#computer .one,#computer .two,#computer .three,#computer .four,#computer .five{
    height: 100%;
    width: 20%;
}
.one h1,.two h1,.three h1,.four h1,.five h1{
    position:absolute;
    text-decoration: none;
    /* text-shadow:
    5px 5px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; */
    text-shadow:
    -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black;
    /* text-shadow: 1px 1px white, -1px -1px #444; */
    color:#ffffff;
    ;
}
#computer .one{
    background-image: url(../webmaterial/1.jpg)
}
#computer .two{
    background-image: url(../webmaterial/2.png)
}
#computer .three{
    background-image: url(../webmaterial/3.png)
}
#computer .four{
    background-image: url(../webmaterial/4.jpg)
}
#computer .five{
    background-image: url(../webmaterial/5.jpg)
}
#phone .one{
    background-image: url(../webmaterial/phonebg/6.png)
}
#phone .two{
    background-image: url(../webmaterial/phonebg/7.jpg)
}
#phone .three{
    background-image: url(../webmaterial/phonebg/9.jpg)
}
#phone .four{
    background-image: url(../webmaterial/phonebg/8.jpg)
}
#phone .five{
    background-image: url(../webmaterial/phonebg/10.png)
}
#computer .one:hover,#computer .two:hover,#computer .three:hover,#computer .four:hover,#computer .five:hover{
    color: #ffef13;
    opacity: 1;
    font-size: 20px;
    background-size: cover;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
a{
    text-decoration: none;
}
#phone{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;
    height: 82vh;
    background-color: whitesmoke;
}
#phone .one,#phone .two,#phone .three,#phone .four,#phone .five{
    height: 20%;
    width: 100%;
}
.header:hover{
    color: #ffef13;
}
#computer .one,#computer .two,#computer .three,#computer .four,#computer .five{
    opacity:0.6;
    font-size: 15px;
}
.one,.two,.three,.four,.five{
    display: flex;
    position: relative;
    background: rgba(254, 254, 254);
    justify-content: center;
    align-items: center;
    background-size: cover;
    font-family: 'Shippori Mincho', serif;
    /* font-family: 'Klee One', cursive; */
    font-weight: bold;
}
#computer{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100vw;
    height: 82vh;
}
#phone{
    opacity:1.0;
    display: none;
}
@media screen and (min-width: 320px) and (max-width: 799px) {
    #phone {
      display: block;
    }
    #computer{
        display: none;
    }
    .title{
        font-size: 30px;
    }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
    #phone {
        display: block;
      }
      #computer{
          display: none;
      }
      .title{
          font-size: 30px;
      }
}