*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    cursor:url('../webmaterial/remotecontrol.ico'),pointer;
}
.showcase{
    height: 100vh;
    display: flex;
    align-items: center;
}
.showcase img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tvcase{
    display: flex;
    position: absolute;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 50px rgb(248, 245, 245),
    0px 0px 50px rgb(248, 245, 245),
    0px 0px 10px gainsboro, 0px 0px 10px gainsboro;
}
#tv{
    display: flex;
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    width: 100%;
    z-index: 994;
}
.videocase{
    display: flex;
    position: relative;
    width: 94%;
    height: 72%;
    background-color: black;
    align-items: center;
    justify-content: center;
}
iframe{
    position: absolute;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 995;
}
#tvvideo{
    position: absolute;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 996;
}
#actvideo{
    position: absolute;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    width: 99%;
    background-size: cover;
    z-index: 997;
}
.playbtn{
    display: flex;
    position: relative;
    width: 15vw;
    height: 15vw;
    background: url(../webmaterial/playbtn.png);
    background-size: cover;
    z-index: 998;
}
#actvideo{
    display: none;
}
.returnbtn{
    display: flex;
    position: absolute;
    background-image: url(../webmaterial/return.png);
    /* background-color: white; */
    background-size: cover;
    border: 3px solid black;
    border-radius: 100%;
}
button{
    outline-style: none;
    border: 0;
}
/* 手機狀態 */
@media screen and (min-width: 375px) and (max-width: 767px) {
    .tvcase{
        width: 90vw;
        height: 81vw;
    }
    .returnbtn{
        width: 15vw;
        height: 15vw;
        right: 5vw;
        top: calc((100vh - 81vw) / 2 - 100px);
    }
}
/* 平板狀態 */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .tvcase{
        width: 90vw;
        height: 81vw;
    }
    .returnbtn{
        width: 12vw;
        height: 12vw;
        right: 5vw;
        top: calc((100vh - 81vw) / 2 - 150px);
    }
}
/* 電腦狀態 */
@media screen and (min-width: 1200px) {
    .tvcase{
        width: 95vh;
        height: 85.5vh;
    }
    .returnbtn{
        width: 4.5vw;
        height: 4.5vw;
        right: calc((100vw - 85.5vh) / 2 - 120px);
        top: 7vh;
    }
} 