*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../webmaterial/bg_computer.png);
    background-size: cover;
    --c: gold;
}
.coming{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: changeColor 5s linear infinite;
}
.dot-box{
    display: flex;
}
.dot-box .dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--c);
    margin: 20px 10px;
    box-shadow: 0 0 10px var(--c),
    0 0 20px var(--c),
    0 0 40px var(--c),
    0 0 60px var(--c),
    0 0 80px var(--c),
    0 0 100px var(--c);
    transform: scale(0.1);
    animation: dotAnimate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
.coming p{
    color: var(--c);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
}
.dot-box:nth-child(3) .dot{
    animation-delay: calc(-0.1s * var(--i));
}

@keyframes dotAnimate {
    0%{
        transform: scale(0.1);
    }
    10%{
        transform: scale(1);
    }
    50%,100%{
        transform: scale(0.1);
    }
}

@keyframes changeColor {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

/*  手機及平板狀態
@media screen and (min-width: 375px) and (max-width: 1200px) {
    body{
        background: url(../webmaterial/bg_phone.jpg);
        background-size: cover;
    }
} */
/* 電腦狀態 */
/* @media screen and (min-width: 1200px) {
    body{
        background: url(../webmaterial/bg_computer.jpg);
        background-size: cover;
    }
}  */ 